/*Colors - #19d347 - Buttons and side bar
main-content - #E2E8F0
task side color -#D319A5

width of demo - 600px 2200px;
height of demo - 350px 2050px;
*/

*{
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  font-family:"Google Sans Flex", sans-serif;
}
ul{
    list-style-type: none;
}

.main-container{
    background-color: blue;
    display:grid;
    height:100vh;
    grid-template-columns:1fr 5fr;
    grid-template-rows: 1fr 5fr;
    gap:40px;

}
.side-bar{
    background-color:#19d347;
    grid-row:1/3;

}
.header-bar{
    background-color: violet;
    grid-column:2/3;
    display:grid;
    grid-template-rows:1fr 1fr;
    grid-template-columns: 3fr 1fr;
    grid-auto-flow:row;

}

.dash-container{
    background-color: red;
    display:grid;
    gap:40px;
    grid-auto-flow: column;
    grid-template-columns:3fr 1fr;
    grid-template-rows:1fr 1fr;

}

.projects-container{
    display:grid;
    gap:40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row:1/3;
    grid-column:1/2;

}

.announcements-container{
    display:grid;
    background-color: yellow;
    grid-row:1/2;
    grid-column:2/3;

}
.trending-container{
    display:grid;
    background-color:wheat;
    grid-row:2/3;
    grid-column:2/3;
}

.project-box{
    height:200px;
    width:300px;
    background-color:white;
}

